/*variables 참조하기*/
@import "./variables.css";   /*최상단에 위치해야함*/

/*기본 세팅*/
*{
    color : var(--main-color);
    font-family: sans-serif, Arial, Helvetica;
}

body{
    margin : 20px;
    background-color: #f5f5f5;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 35px;
    font-weight: 500;
}

/*card 관련 css*/
.card{
    background-color: var(--card-color);
    width: 80%;
    height: 40vh;
    margin : 20px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: auto;
}

.container-titile{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    padding: 15px 0;
    margin: 0 20px;
    border-bottom: 1.5px solid var(--main-color);
}

/*position 디자인*/
.item_design{
    background-color: var(--main-color);
    width: 200px;
    height: 50px;
    margin : 10px;
}
.item_design p{
    color : white;
}



/*
    position 실습 
    (실습 해보고 다음 파트를 깔끔하게 보기 위해서 itme코드 주석 처리 해주세요 / 안해도 상관 없음. 미관상)

*/

.position-parent{   /*아이템들의 부모 태그*/
    margin: 0 20px;
}

.pitem1{     /*relative 실습*/
    position: relative;
    left : 300px;
    top : 20px;
}

.pitem2{       /*fixed 실습. body 기준으로 위치*/
    /* position: fixed;  
    bottom : 20px;
    right : 10px; */
}


/*
    flex 실습 
*/
.flex-parent{   /*아이템들의 부모 태그*/
    margin: 0 20px;

    /*flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* flex-wrap: wrap; */

}

/*
    grid 실습 
*/
.grid-parent{   /*아이템들의 부모 태그*/
    margin: 0 20px;

    /*flex*/
    display: grid;
    grid-template-columns: 250px 250px 250px;
    gap : 10px;


}

/*
    transition 실습
*/
.transition-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.transition-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    width: 180px;
    height: 70px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;


    /*transition css*/
    transition: all 2s ease;
}

/*원래 요소에 transition을 주고 hover했을 때 그 작동을 담음*/
.transition-box:hover{
    background-color: #F65C3B;
    transform: scale(1.2);   /*transform : 요소에 변형 가할 때 사용*/
}

.transition-box p{
    color: white;
    margin: auto;
}


/*
    animation 실습 (같이 진행하겠습니다.)
*/


.animation-parent{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap : 10px;
    height: 30vh;
}

.bar{
    height: 140px;
    width: 20px;
    background-color: var(--main-color);
    border-radius: 3px;

    /*animation 선언*/
    animation: wave 1s infinite ease-in-out;
}

.bar:nth-child(1) { animation-delay : 0s; }
.bar:nth-child(2) { animation-delay : 0.1s; }
.bar:nth-child(3) { animation-delay : 0.2s; }
.bar:nth-child(4) { animation-delay : 0.3s; }
.bar:nth-child(5) { animation-delay : 0.4s; }


@keyframes wave {
    0%, 100%{
        transform: scaleY(0.7);
    }

    50%{
        transform: scaleY(1.3);
    }
}